canvas{
  position: fixed;
  top:0;
  left: 0;
  z-index: 0;
}

.btn{
  position: fixed;
  z-index: 1;
  left: 0;
}

.reset{
  top: 50px;
}

.go{
  top: 140px;
}

.text-box{
  position: fixed;
  left: 0px;
  z-index: 1;
  width: 70px;
}

.tb-1{
  top: 100px;
}

.tb-2{
  top: 120px;
}

