canvas{
  position: fixed;
  top:0;
  left: 0;
  z-index: 0;
}

.controls{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 50px;
}

.controls > *{
  display: block;
}

.tb-1, .slt-country{
  margin-top: 10px;
}

